.keyboard {
    width: 100vw;

    @media screen and (max-width: 700px) {
        transform: scale(80%);
    }

    @media screen and (max-width: 500px) {
        transform: scale(70%);
    }

    .line {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 200%;
        gap: 5px;
        margin-bottom: 5px;

        &__key {
            display: flex;
            justify-content: center;
            align-items: center;
            border: solid black;
            border-radius: 1rem;
            padding: 0 10px;

            // @media screen and (max-width: 700px) {
            //     max-width: 1rem;
            //     max-height: 1rem;
            //     padding: 0;
            // }

            &--special {
                color: red;
            }

            &:hover {
                background-color: black;
                color: white;
                cursor: pointer;
            }
        }
    }

    .disabled {
        background-color: black;
    }
}