.keyboard {

    margin-top: 2rem;

    .line {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;

        &__key {
            display: flex;
            justify-content: center;
            align-items: center;
            border: solid black;
            border-radius: 1rem;
            padding: 0 10px;
            min-width: 3rem;
            min-height: 3rem;

            &:hover {
                background-color: black;
                color: white;
                cursor: pointer;
            }
        }
    }

    .disabled {
        background-color: black;
    }
}