.letter {
    border: solid black;
    margin: 0.1rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;

    &--wrong {
        border: solid red;
        color: red;
    }

    &--close {
        border: solid rgb(180, 153, 30);
        color: rgb(180, 153, 30);
    }

    &--correct {
        border: solid palegreen;
        color: palegreen;
    }
}